{% extends 'base.html.twig' %}

{% block title %}
	{{ employe.prenom }}
	{{ employe.nom }}
	- TaskLinker
{% endblock %}
{% block page_title %}{{ employe.prenom }} {{ employe.nom }}{% endblock %}

{% block body %}

	<div id="content">
		{{ form_start(form, {'attr': {'name': 'employe'}}) }}

		{{ form_row(form.nom) }}
		{{ form_row(form.prenom) }}
		{{ form_row(form.email) }}

		<div class="form-flex">
			{{ form_row(form.dateEntree) }}
			{{ form_row(form.statut) }}
			{{ form_row(form.role) }}
		</div>

		<button class="button button-submit">Enregistrer</button>

		{{ form_end(form) }}
	</div>
{% endblock %}
